.menu_categories .container{
    max-width: 1650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

h2{
    color: #232323;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h2 .line{
    padding: 4px;
    width: 280px;
    background-color: #FE8C01;
    border-radius: 4px;
}

.menu_categories .categories{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 250px;
    width: 100%;
}

.catalog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 390px;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
}

.button-all{
    background-color: #E9F8FB;
    font-weight: 400;
    color: #232323;
}